main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 15px;
}

.item {
  margin: 0 0.2em;
  background-color: #dfeedc;
  border-radius: 1em;
  cursor: pointer;
  font-size: 16px;
  color: #252525;
}

.item > span {
  display: block;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 12.5;
}

j5-carousel{
  --color_back_arrows: #438c40;
}
