*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container > j5-tooltip {
  display: inline-block;
}

header{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #215673;
}

j5-carousel{
  margin:auto;
}

.item{
  width: 4em;
  height: 8em;
  margin: 0 1em;
  padding: 0 1em;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: bisque;
  text-align: center;
  font-size: 2em;
}

.item:nth-child(2n+1){
  background-color: #215673;
}