main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 15px;
}

.item {
  margin: 0 0.2em;
  background-color: beige;
  border-radius: 1em;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.item > span {
  display: block;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 12.5;
}

